.pagination {
  display: block;
  width: 75%;
  margin: 1em auto;
  margin-left: 230px;
  
  &:after {
    content: '';
    clear: both;
  }
}

.pagination-button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;  
  background-color: #eee;
  color: #333;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
  
  &:hover {
    background-color: #ddd;
    color: #3366cc;
  }
  
  &.active {
    background-color: #bbb;
    border-color: #bbb;
    color: #3366cc;
  }
  
  $border-radius: 18px;  
  
  &:first-of-type {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-of-type {
    border-radius: 0 $border-radius $border-radius 0;
  }
}