
.cont {
  background-image: linear-gradient(135deg, rgba(52, 152, 219,0.5) 0%,rgba(243, 65, 65, 0.4) 100%), url(../images/index/indexbg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  top: 35%;
  left: 50%;
  font-family: "Calligraffitti";
  font-weight: normal;
  font-size: 1em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transform: translate3d(-50%,-50%,0);
}


@media only screen and (max-width : 768px) {

	h1 {
		font-size: 3em;
	}
}